{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets":{
                    "node":"current"
                }
            }
        ],
        "@babel/react"
    ]
}

//  tiene una propiedad preset, donde vamos a utilizar los modulos instaldos de babel
// el targets le decimos en que entorno estamos trabajando (frontend)
// este archivo traduce el codigo jsx, el babel-react